*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  position: fixed;
  top: 0;
  background-color: #242424;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  padding: 6px 0;
  background-color: #3b3b3b;
}

#input-search {
  font-size: 16px;
  margin-right: 12px;
  padding: 4px 12px;
  width: 320px;
  height: 36px;
  border: 2px solid #858585;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

#btn-search {
  padding: 4px 12px;
  width: 88px;
  height: 36px;
  border: 2px solid #858585;
}

#btn-search:hover,
#input-search:hover,
#btn-error:hover {
  border-color: #ffffff;
}

#btn-search:focus-visible,
#btn-search:focus,
#input-search:focus-visible {
  outline: none;
}

#btn-search:active {
  border-color: #3d3d3d;
}

#input-search:focus-visible {
  border-color: #ffffff;
}

.result-item {
  min-width: 400px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.result-item:hover {
  background-color: #595959;
}

.result-item:last-child {
  margin-bottom: 0;
}

#btn-error {
  margin: 12px 0;
  padding: 4px 12px;
  width: 120px;
  height: 36px;
  border: 2px solid #ff6969;
  color: #ff6969;
}

.err-text {
  padding: 6px 0;
  color: red;
}
